gunicorn==20.1.0
certifi
chardet
click
dominate
Flask
Flask-Bootstrap
Flask-CKEditor
Flask-Gravatar
Flask-Login
Flask-SQLAlchemy
Flask-WTF
idna
itsdangerous
Jinja2
MarkupSafe
psycopg2-binary==2.9.1
requests
SQLAlchemy
urllib3
visitor
Werkzeug
WTForms
